--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.6/index.html
torch==1.6.0+cpu
torchvision==0.7.0+cpu

cloudpickle==1.2.1
Flask==1.1.2
numpy==1.16.4
Pillow==7.1.2
scikit-image==0.16.2

setuptools<45.0.0
pyinstaller==3.5

scipy==1.4.1
matplotlib<3.2

onnxruntime==1.7.0

#XXX: try to remove those
pytorch_lightning==1.0.6
scikit-learn==0.23.2
imbalanced-learn==0.6.2

