{% from   'base/main_container.html'    import main_container as base_main_container%}
{% from   'base/detection_tab.html'     import detection_tab as base_detection_tab, base_main_table %}
{% from   'pollen/training_tab.html'    import training_tab as pollen_training_tab %}


{% macro pollen_main_container(app) %}
    {{ base_main_container(
        app, 
        detection_tab = base_detection_tab(app, main_table = base_main_table(extra_columns=['Detected Pollen'])),
        training_tab  = pollen_training_tab(app))
    | indent }}
{% endmacro %}
