{% extends "base_top_menu.html" %}



{% block    top_menu_buttons %}

<div class="item">
    <div class="buttons">
    <label class="ui primary button" onclick="process_all()" id="process-all-button">
        <i class="play icon"></i>
        Process All Images
    </label>
    <label class="ui red button" onclick="cancel_processing()" id="cancel-processing-button" style="display:none;">
        <i class="x icon"></i>
        Cancel
    </label>
    </div>
</div>





<div class="ui secondary right menu">
    <div class="item">
      <div class="ui buttons">
      <label class="ui button has-popup" id="download-button" data-position="bottom right">
        <i class="download icon"></i>
      </label>
      <div class="ui popup transition hidden vertical menu" style="padding:0">
        <a class="item" onclick="on_download_csv()" id="download-csv-button" style="align-self:auto;margin:0px">
           Download CSV
        </a>
        <a class="item" onclick="on_download_labelme()" id="download-labelme-button" style="align-self:auto;margin:0px">
          Download LabelMe JSON
        </a>
      </div>
      <script>$('#download-button').popup({hoverable:true});</script>

      <label class="ui button" onclick="on_settings()"
            id="settings-button" data-tooltip="Settings" data-position="bottom center">
        <i class="wrench icon"></i>
      </label>
      </div>
    </div>
</div>




{% endblock top_menu_buttons %}


