{% extends "base_top_menu.html" %}


{% block    file_menu_items %}
<label class="ui icon item" onclick="on_clear_files()">
    <i class="minus square outline icon"></i>
    Clear Loaded Files
</label>
  
<div class="divider"></div>
<label for="input-external-annotations" class="ui icon item">
    <i class="grey images icon"></i>
    Load Annotations
</label>
<input type="file" id="input-external-annotations" style="display:none" 
          onclick="this.value=null;" onchange="on_external_annotations_select(event)" 
          accept=".json" multiple>
{% endblock file_menu_items %}



{% block    top_menu_buttons %}
<div class="item">
    <div class="buttons">
    <label class="ui primary button" onclick="process_all()" id="process-all-button">
        <i class="play icon"></i>
        Process All Images
    </label>
    <label class="ui red button" onclick="cancel_processing()" id="cancel-processing-button" style="display:none;">
        <i class="x icon"></i>
        Cancel
    </label>
    </div>
</div>
{% endblock top_menu_buttons %}




{% block    top_menu_rhs_buttons %}
    <label class="ui button has-popup" id="download-button" data-position="bottom right">
        <i class="download icon"></i>
    </label>
    <div class="ui popup transition hidden vertical menu" style="padding:0">
        <a class="item" onclick="on_download_csv()" id="download-csv-button" style="align-self:auto;margin:0px">
        Download CSV
        </a>
        <a class="item" onclick="on_download_labelme()" id="download-labelme-button" style="align-self:auto;margin:0px">
        Download LabelMe JSON
        </a>
    </div>
    <script>$('#download-button').popup({hoverable:true});</script>

    {{ super() }}
{% endblock top_menu_rhs_buttons %}
